<header class="header">

  <!-- Top Header -->
  <div class="header-top container">

    <div class="logo">
      <img src="/assets/Layout/Brand/logo-colored.png" alt="Brand Logo">
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search">
      
      <select>
        <option>All category</option>
      </select>

      <button>Search</button>
    </div>

    <div class="header-icons">

      <div class="icon-item">
        <span>👤</span>
        <p>Profile</p>
      </div>

      <div class="icon-item">
        <span>💬</span>
        <p>Message</p>
      </div>

      <div class="icon-item">
        <span>📦</span>
        <p>Orders</p>
      </div>

      <div class="icon-item">
        <span>🛒</span>
        <p>My cart</p>
      </div>

    </div>

  </div>


  <!-- Bottom Navigation -->
  <div class="header-bottom">

    <div class="container">

      <nav class="nav-menu">
        <ul>

          <li><a href="#">☰ All category</a></li>
          <li><a href="#">Hot offers</a></li>
          <li><a href="#">Gift boxes</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Menu item</a></li>

          <li class="dropdown help-dropdown">
            <div class="dropdown-toggle">
              <span>Help</span>
              <img src="/assets/Layout/Form/input-group/Icon/control/Vector.png">
            </div>

            <ul class="dropdown-menu">
              <li><a href="#">Customer service</a></li>
              <li><a href="#">Order tracking</a></li>
              <li><a href="#">Returns</a></li>
            </ul>
          </li>

        </ul>
      </nav>

      <div class="header-options">

        <div class="dropdown language-dropdown">
          <div class="dropdown-toggle">
            <span>English, USD</span>
            <img src="/assets/Layout/Form/input-group/Icon/control/Vector.png">
          </div>

          <ul class="dropdown-menu">
            <li>English, USD</li>
            <li>Deutsch, EUR</li>
            <li>Français, EUR</li>
          </ul>
        </div>

        <div class="dropdown country-dropdown">
          <div class="dropdown-toggle" id="selected-country" data-country="Germany">
            <span>Ship to</span>
            <img id="selected-flag" src="/assets/Layout1/Image/flags/DE@2x.png">
            <img src="/assets/Layout/Form/input-group/Icon/control/Vector.png">
          </div>

          <ul class="dropdown-menu">

            <li data-country="United Arab Emirates">
              <img src="/assets/Layout1/Image/flags/AE@2x.png"> United Arab Emirates
            </li>

            <li data-country="China">
              <img src="/assets/Layout1/Image/flags/CN@2x.png"> China
            </li>

            <li data-country="Denmark">
              <img src="/assets/Layout1/Image/flags/DK@2x.png"> Denmark
            </li>

            <li data-country="France">
              <img src="/assets/Layout1/Image/flags/FR@2x.png"> France
            </li>

            <li data-country="United Kingdom">
              <img src="/assets/Layout1/Image/flags/GB@2x.png"> United Kingdom
            </li>

            <li data-country="Australia">
              <img src="/assets/Layout1/Image/flags/icon.png"> Australia
            </li>

            <li data-country="Italy">
              <img src="/assets/Layout1/Image/flags/IT@2x.png"> Italy
            </li>

            <li data-country="Russia">
              <img src="/assets/Layout1/Image/flags/RU@2x.png"> Russia
            </li>

            <li data-country="United States">
              <img src="/assets/Layout1/Image/flags/US@2x.png"> United States
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</header>