<div class="filters">

  <!-- CATEGORY -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Category</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <ul>
        <li>Tech</li>
        <li>Interior</li>
        <li>Clothing</li>
        <li>Mobile accessory</li>
        <li>Electronics</li>
        <li>Smartphones</li>
        <li>Modern tech</li>
      </ul>
      <a href="#" class="see-all">See all</a>
    </div>
  </div>

  <!-- BRANDS -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Brands</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <label><input type="checkbox"> Samsung</label>
      <label><input type="checkbox"> Apple</label>
      <label><input type="checkbox"> Huawei</label>
      <label><input type="checkbox"> Poco</label>
      <label><input type="checkbox"> Lenovo</label>
      <a href="#" class="see-all">See all</a>
    </div>
  </div>

  <!-- FEATURES -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Features</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <label><input type="checkbox"> Metallic</label>
      <label><input type="checkbox"> Plastic cover</label>
      <label><input type="checkbox"> 8GB Ram</label>
      <label><input type="checkbox"> Super power</label>
      <label><input type="checkbox"> Large Memory</label>
      <a href="#" class="see-all">See all</a>
    </div>
  </div>

  <!-- PRICE -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Price range</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <input type="range" class="range-slider">

      <div class="price-range">
        <input type="text" placeholder="Min">
        <input type="text" placeholder="Max">
        <button>Apply</button>
      </div>
    </div>
  </div>

  <!-- CONDITION -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Condition</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <label><input type="radio" name="condition" checked> Any</label>
      <label><input type="radio" name="condition"> Refurbished</label>
      <label><input type="radio" name="condition"> Brand new</label>
      <label><input type="radio" name="condition"> Old items</label>
    </div>
  </div>

  <!-- RATINGS -->
  <div class="filter-group collapsed">
    <div class="filter-title">
      <h4>Ratings</h4>
      <img src="../assets/Layout/Form/input-group/Icon/control/Vector.png" class="arrow" alt="">
    </div>

    <div class="filter-content">
      <label class="rating">
  <input type="checkbox">
  <span class="stars">
    <span class="filled">★★★★★</span>
  </span>
</label>

<label class="rating">
  <input type="checkbox">
  <span class="stars">
    <span class="filled">★★★★</span><span class="empty">★</span>
  </span>
</label>

<label class="rating">
  <input type="checkbox">
  <span class="stars">
    <span class="filled">★★★</span><span class="empty">★★</span>
  </span>
</label>

<label class="rating">
  <input type="checkbox">
    <span class="stars">
    <span class="filled">★★</span><span class="empty">★★</span>
  </span>
</label>
    </div>
  </div>

</div>